.header
{
    margin:0;
    padding: 0;
}
.title 
{
    text-decoration: underline;
    font-size:21px;
    color:#18b2a8;
    margin-top:30px;
}

.hero-image
{
    background-image: url('../images/Gastro.jpg');
    width:100%;
    padding:0;
    margin:0;
}

.hero
{
    padding:100px 0px;
}

.hero-content
{   padding:20px 0px;
    font-size:30px;
    margin-left:15px;
    background:linear-gradient(45deg, rgba(46, 3, 76, 0.8) 0%,
                            rgba(46, 3, 76, 0.8) 34%,
                            rgba(10, 92, 108, 0) 89%,
                            rgba(10, 92, 108, 0) 100%);
    color:white;
    font-family: Roboto Condensed;
}

.hero-text-contents
{
    padding:0;
    margin:0;
}

.hero-text
{
    padding:20px;
    line-height: 1.3;
    margin:0;
    margin-bottom:5px;
    max-width:100%;
    font-size:20px;
    background-color: #2E034C;
    color: white;
}
/* Form */

.header-form
{
    width:100%;
    z-index: 30; 
    top:0;
    right:0;
    background-color:rgba(28, 28, 30, 0.95);
    border-bottom:10px solid #18b2a8;
}

.form-padding
{
    padding: 0;
}

.form-list
{
    padding:10px;
    margin:0;

}

.form-list li
{
    list-style-type: none;
    display:inline-block;
    margin:10px 0px 10px;
    padding-left:2px;  
}

.form-list li a {
    font-size: 10px;
    color: #fff;
    background: #18b2a8;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
}

.form-heading
{
    text-align: center;
    border-bottom: 1px solid #18b2a8;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'latobold';
    color:#fff;
}

form .form-input-fields
{
    font-family: 'latoregular';
    border-left: 1px solid #5f5f5f;
    border-top: 1px solid #5f5f5f;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    color: #7c7c80;
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px 10px;
    background: transparent;
    margin-top: 10px;
    height: 33px;

}

.submit-button
{
    color: #FFFFFF;
    background: #18b2a8;
    font-size: 16px;
    margin-top:10px;
    border:0;
    border-radius: 3px;
    padding: 5px 20px;
}

/* Why narayana health */

.main-content
{
    margin-top:-80;
}

.content-title
{
    color: #18b2a8;
    font-size: 28px;
    font-family: 'latobold';
    padding:25px 0 30px 0;
    font-family:latobold;
}

.col-header
{
    color: #2e034c;
    font-size: 24px;
    font-family: 'latobold';
    width:100%;
}

.col-divisions{
    height:72rem;
}
.col-divisions::before
{
    content:"";
    position:absolute;
    top:0;
    height:98%;
    right:0;
    border-right:1px solid #e5e5e5; 
} 

.columns{
    border-bottom:1px solid #e5e5e5;
   
} 

.columns p
{
    padding:10px;
    line-height: 1.3;
}

/*  Locations*/

.locations
{
    background-color: #2e034c;
    max-width:100%;
    padding: 15px 25px;
}

.location-description h4{
    color: #18b2a8;
    font-family: 'latobold';
}

.location-rows
{
    padding:15px 0px;
    border-bottom:1px solid #583570;
}

.location-rows:last-child
{
    border-bottom:none;
}

.each-location::before
{
    content:"";
    position: absolute;
    top:0;
    border-left: 1px solid #583570;
    height:100%;
   
}

.location-description
{
    font-size: 13px;
    line-height: 1.3;
    color:#fff;
}

/* Footer */

.footer{
    background-color: #2e034c;
    color:white;
    margin-top:25px;
}

.footer-content
{
    padding:25px;
}

.footer-logo{
    border-right: 1px solid #583570;
}
.footer p
{
    font-size:13px;
    line-height:1.3;
}

.copyright
{
    font-size: 11px;
    color:#fff;
    margin:0px;
    background-color:black;
    padding:10px;
}

@media (max-width:1023px)
{
    .header img{
        max-width:230px;
        margin:auto;
    
    }

    .header .title
    {
        max-width:300px;
        margin:auto;
        font-size:14px;
    }


    .hero-image
    {
        background-position: center;
        max-width:100%;
        background-size: cover;
    }


    .hero-content
    {
        padding-right:50px;
            font-size:20px;
            background:linear-gradient(45deg, rgba(46, 3, 76, 0.8) 0%,
                                    rgba(46, 3, 76, 0.8) 34%,
                                    rgba(10, 92, 108, 0) 89%,
                                    rgba(10, 92, 108, 0) 100%);
            color:white;
            font-family: Roboto Condensed; 
             
    }



    .hero-text
    {
    
        line-height: 1.2;
        min-width:100%;
        font-size:14px; 
        background-color: #2E034C;
        color: white;
    }

    .col-divisions
    {
        text-align:left;
        padding:0px;
        line-height:1.2;
        height:auto;

    }
    .main-content{
        margin-top: 0;
    }

    .col-divisions img
    {
        width:100px;
    }

    .col-div2
    {
        height:auto;
    }

    .col-division p
    {
        border-left:1px solid #e5e5e5;
    }

    .col-header
    {
        text-align:left;
        padding:0px;

    }

    .col-divisions::before{
        display:none;
    }

    .col-divisions
    {
        padding-left:10px;
        
        border-left:1px solid #e5e5e5; 
        border-bottom:1px solid #e5e5e5;
        padding-top:20px;
    } 

    .locations
    {
        background-color:white;
        max-width:100%;
        padding: 15px 0px 15px 20px;
    }

    .location-rows{
        width:100%;
    }

    .medias
    {
        background-color:#2e034c;
        padding:10px;
        margin-bottom:10px;
        width:100%;
    
    }

    .footer-logo
    {
        display: none;
    }
}